html, body{ 
    background: black;
    overflow:hidden;
}

.construction{ max-height: 100vh; }

#baby, #construction, #back-button{
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

#baby{
    top:30%;
    transform: scale(250%);
}

#construction{
    top:40%;
    transform: scale(150%);
}

#back-button{
    right: 78%;
    top: 5%;
    z-index: 1;
}