.header-container {
    position: relative;
    margin-top: -10rem;
    transform: scale(0.6);
    max-height: 100vh; 
    overflow: hidden; 
}

.bar1 {
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar2 {
    position: absolute;
    top: 20rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg.gif');
    background-size: cover;
    background-position: center;
    max-height: 100vh;
}

/* Centering the .intro div and adding a border */
.intro {
    margin-left: 17rem;
    width: 60%;
    max-width: 800px; 
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px; /* Optional: Rounded corners */
    background-color: rgba(0, 0, 0, 0.5);
    color: white; 
    position: relative;


}

.nav-bar-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

#home, #projects{
    transform: scale(0.25);
}